html, body {
	overflow-y: visible;
}
body {
	font-family: Arial;
	margin: 0;
	background-color: #F1F1F1;
}
select:focus {
	outline: none;
}
.head {
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 0 1px 1px #D8D8D8;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.head button, .head select {
	height: 29px;
}
.head input {
	padding-left: 20px;
	width: 100px;
	height: 25px;
	border: 1px solid #AAA;
}
#mal-username {
	background-image: url('../images/mal-icon.png');
	background-repeat: no-repeat;
	background-position: 2px center;
	width: 200px;
}
#aS-username {
	background-image: url('../images/aS-icon.png');
	background-repeat: no-repeat;
	background-position: 2px center;
}
#aS-password {
	padding-left: 5px;
	border-left: none;
}

table.results {
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);
	border: 1px solid #ADADAD;
	border-collapse: collapse;
	background-color: #FFF;
	margin-bottom: 5px;
}
table.results th {
	background-color: #FFF;
	height: 30px;
	font-weight: lighter;
	color: black;
	border: 1px solid #ADADAD;
}
table.results td {
	height: 30px;
	padding-left: 2px;
}

table tr:nth-child(odd){
	background-color: #DFDFDF;
}
table tr:nth-child(even){
	background-color: #FFF;
}
table select {
	width: calc( 100% - 30px );
}
th.mal {
	padding: 0 2px;
	width: 44px;
}
th.name {
	padding: 0 2px;
}
th.as {
	padding: 0 2px;
}

.red {
	border: 2px solid #FF8383;
}
.maybe
{
	border: 2px solid #F0BA5A;
}
.almost
{
	border: 2px solid #55814A;
}
.notfound {
	background-color: #ccc;
}

#legende {
	margin-left: 20px; margin-right: 20px;
}
#legende div {
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.head + #browserfront {
	margin-top: -5px;
}
#browserfront {
	width: 100%;
	height: calc( 100% - 51px );
	display: flex;
}
#browserfront webview {
	width: 50%;
	height: 100%;
}
#foundbtn
{
	height: 29px;
}
